.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
    background-color: rgb(240, 240, 240);
    border-radius: 3px;
}

hr {
    margin: 1px;
}

.logo-ikon{
    width: 175px;
    height: 40px;
    background-image: url('../assets/1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-container > button {
    height: 25px;
}

.section-container {
    padding-top: 48px;
    padding-bottom: 24px;
}

.section-container>header {
    text-align: center;
}

.section-content-container {
    display: flex;
    margin-left: 24px;
    margin-right: 24px;
}

.name-input {
    height: 24px;
    width: 50%;
    border: 1px solid rgb(220, 220, 220);
}

.section-content-form {
    height: 400px;
    width: 80%;
    background-color: rgb(240, 240, 240);
    margin-left: 8px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    border-radius: 3px;
    justify-tracks: space-between;
}