.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
    background-color: rgb(240, 240, 240);
    border-radius: 3px;
}

hr {
    margin: 1px;
}

.logo-ikon{
    width: 177px;
    height: 40px;
    background-image: url('../assets/1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-container > button {
    height: 25px;
}

.section-container {
    padding-top: 48px;
    padding-bottom: 24px;
}

.section-container>header {
    text-align: center;
}

.section-content-container {
    display: flex;
    margin-left: 24px;
    margin-right: 24px;
}

.name-input {
    height: 32px;
    width: 100%;
    border: 1px solid rgb(220, 220, 220);
}

.section-content-button {
    display: flex;
    width: 100%;
    height: 200px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
}

.foto {
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}